/* .event-reg-container{
    background-color: rebeccapurple;
}
.Registration-card{
    background-color: lightblue;
    height: 500px;
    width: 400px;
}

.contents{
    background-color: lightblue;
} */